/*
!code
code/*.o
code/*.out
!data_process
data_process/__pycache__
data_process/data_pack
data_process/optionsdx_data
!analyze
analyze/__pycache__
!plot
plot/__pycache__
plot/figures/*
.DS_Store
!README.md
!.gitignore
